<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/css")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("Meu Ecommerce", "Index", "")
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse teste" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("Sobre", "About", "", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contato", "Contact", "", new { area = "" }, new { @class = "nav-link" })
                </li>
                
            </ul>
            @Html.Partial("_LoginPartial")
            <div class="nav-item">
                <a class="nav-link" href="/Checkout">Carrinho: @string.Format("{0}", ViewBag?.Carrinho?.QuantidadeDeItens ?? 0)  </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid body-conteudo">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Meu Ecommerce</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
