@model MeuEcommerce.Models.HomeIndexViewModel

@{
    ViewBag.Title = "Vamos Comprar!";
}

<div class="row">
    <h2>Produtos</h2>
</div>

<div class="row">
    <form action="" method="get" id="frmCategoria" class="option">
        <span>Categorias</span>

        <select id="categoria" name="categoria" class="form-control" onchange="$('#frmCategoria').submit()">
            <option value="">Tudo</option>

            @foreach (var item in Model.Categorias)
            {
                if (item.Id == Model.CategoriaSelectionada)
                {
                    <option selected value="@item.Id"> @item.Nome </option>
                }
                else
                {
                    <option value="@item.Id"> @item.Nome </option>
                }
            }

        </select>
    </form>
</div>


<div class="row produtos">
    <div class="row">
        @foreach (var item in Model.Produtos)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-2 list-item">
                <span class="p-name">@item.Nome </span>
                <span class="p-description">@item.Descricao</span>
                <img  class="p-imagem" src="@item.Imagem" />
                <a class="btn btn-primary" href="/home/additem/@item.Id">Adicionar</a>
                <span disabled class="btn btn-info">@item.Preco.ToString("R$ 0#.##")</span>
            </div>
        }

    </div>
</div>

